*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 200px;
    position: relative;
}

#timer {
    font-size: x-large;
}

#card {
    width: 800px;
    max-width: 80%;
    display: flexbox;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px 3px;
}

#main {
    border-radius: 10px;
    border: 2px;
    width: 200px;
    width: 800px;
    max-width: 80%;
    display: flexbox;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px 3px;
}

#questionDiv {
    max-width: 800px;
    position: relative;
}
